body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #c7f9cc;
}

form {
    margin-bottom: 10px;
}

input, select, button {
    margin-right: 5px;
}

#categoryList, #expenseList {
    list-style-type: none;
    padding: 0;
    margin: 30px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fce4ec;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    color: #ff8a80;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin-left: 10px;
}

.nav-link {
    color: #ff80ab;
    text-decoration: none;
    font-weight: bold;
}

/* .content {
    padding: 20px;
} */


.button {
    background-color: #e4a4d4; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-family: 'Arial', sans-serif;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out; 
}

.button:hover {
    background-color: #d370a1; 
}


.footer {
    background-color: #b2ebf2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-media-list {
   display: flex;
   flex-direction: row;
}

.social-media-item {
    text-decoration: none;
    list-style-type: none;
}

.footer-text {
    color:  #ff80ab;
}

.title {
   color: #ff80ab;
   margin-top: 15px;
   margin-bottom: 5px;
}

h2 {
    color: #ff80ab;
}

#expenseForm, #categoryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categoryInput, .button, #expensesInput {
    margin: 8px;
}


.input-box {
    background-color: #f7e3f0; 
    color: #9d549f; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    margin-bottom: 10px; 
}

.input-box:focus {
    outline: none; 
    box-shadow: 0 0 5px #d370a1; 
}
