* {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #8a8989;
    display: flex;
    align-items: center;
    padding: 10px;
}
  
  
.logoSW {
    width: 100px;
    height: 100px;
}
  

nav {
    flex: 1;
}
  
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
  
li {
    margin-right: 20px;
}
  
 
a {
    text-decoration: none;
    color: rgb(62, 104, 50);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.2s;
}
  
a:hover {
    color: #ffc107; 
}
  
  
a.active {
    color: #ffc107; 
}

.cart-widget {
    position: relative;
}
  
.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff5722; 
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 14px;
}